.home-content {
  transition: var(--transition);
  width: 100%;
  height: 100vh;
  padding: 10% 0;
}

.home-content h1 {
  /* font-family: 'Poppins', sans-serif; */
  font-size: 80px;
  font-weight: 800;
  text-shadow:-1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  color: white;
}

.home-content strong {
  font-size: 85px;
  font-weight: 900;
  color: var(--color-primary);
  text-shadow: none;
}

/* ==================== Media Queries (Medium Devices) ==================== */
@media screen and (max-width: 1024px) {

}

/* ==================== Media Queries (Small Devices) ==================== */
@media screen and (max-width: 768px) {
  
}