
.contact-element {
  text-align: center;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: #000;
}

.contact-element a:hover {
  color: var(--color-primary);
}

/* ==================== Media Queries (Medium Devices) ==================== */
@media screen and (max-width: 1024px) {

}

/* ==================== Media Queries (Small Devices) ==================== */
@media screen and (max-width: 768px) {

}