.skill-content {
  text-align: center;
  height: 100vh;
}

.skill-content h1 {
  font-size: 80px;
}

/* ==================== Media Queries (Medium Devices) ==================== */
@media screen and (max-width: 1024px) {

}

/* ==================== Media Queries (Small Devices) ==================== */
@media screen and (max-width: 768px) {
  .skill-content {
    display: block;
  }
}