@tailwind base;
@tailwind components;
@tailwind utilities;

@layer theme, base, components, utilities;

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);

/* @font-face {
  font-family: 'UnDinaru';
  src: url('/src/assets/fonts/UnDinaru.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
  unicode-range: U+AC00-D7A3;
} */

@font-face {
  font-family: 'Montserrat';
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
  font-weight: 400;
  font-style: normal;
  unicode-range: U+0020-007F;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
  font-weight: 400;
  font-style: normal;
  unicode-range: U+AC00-D7A3;
}

@layer base {
  body {
    font-family: 'Noto Sans KR', 'Montserrat', sans-serif;
  }
}
