nav {
  background-color: var(--color-bg);
  padding: 0.3rem 1.5rem;
  z-index: 2;
  width:100%;
  display: flex;
  position: fixed;
  gap: 1rem;
  justify-content: space-between;
  transition: var(--transition);
  border-bottom: 1px solid black;
  top: 0;
}

nav a {
  background: transparent;
  color: var(--color-font);
  padding: 0.5rem;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-weight: 500;
}

nav a:hover {
  color: var(--color-primary);
}

nav a.active {
  color: var(--color-primary);
}

nav a img {
  width: 7rem;
  margin-top: 0.5rem;
  cursor: pointer;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
  margin-top: 0.5rem;
}

.social {
  margin-top: 0.9rem;
  margin-right: 2rem;
  font-size: x-large;
}

/* ==================== Media Queries (Medium Devices) ==================== */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  nav {
    flex-direction: column;
    align-items: center;
  }
}

/* ==================== Media Queries (Small Devices) ==================== */
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }

  nav {
    flex-direction: column;
    align-items: center;
  }
}